#floatingInput .form-control.is-invalid,
#floatingInput .was-validated .form-control:invalid {
    padding-right: 75px;
}
#floatingInput{
    display: flex;
    flex-direction: row;
    height: fit-content;
    min-height: 20px;
    padding-right: 75px;
}